# NOTE: with moving to data fetching in server components
# we no longer need the following two variables
# NEXT_PUBLIC_DOMAIN=http://localhost:3000
# NEXT_PUBLIC_API_DOMAIN=http://localhost:3000/api

MONGODB_URI=ADD_YOUR_OWN
GOOGLE_CLIENT_ID=ADD_YOUR_OWN
GOOGLE_CLIENT_SECRET=ADD_YOUR_OWN

# NOTE: we don't need to do this if we configure NextAuth to use VERCEL_URL in
# production or localhost in development in our next.config.mjs
# NEXTAUTH_URL=http://localhost:3000
# NOTE: no need to set this if the same as above
# NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=ADD_YOUR_OWN

CLOUDINARY_CLOUD_NAME=ADD_YOUR_OWN
CLOUDINARY_API_KEY=ADD_YOUR_OWN
CLOUDINARY_API_SECRET=ADD_YOUR_OWN

NEXT_PUBLIC_MAPBOX_TOKEN=ADD_YOUR_OWN
NEXT_PUBLIC_GOOGLE_GEOCODING_API_KEY=ADD_YOUR_OWN
